* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  height: 100vh;
}

@mixin form-group {
  display: flex;
  gap: 16px;
}

// form-group
.mat-form-field {
  &-wrapper {
    padding: 0 !important;
    margin-bottom: 0 !important;
  }

  &-subscript-wrapper {
    top: auto;
    bottom: -15px;
  }
}

.form {
  &-col,
  &-row {
    @include form-group;
  }

  &-col {
    flex-direction: column;
  }
}

.flex-1 {
  flex: 1;
}

.p-4 {
  padding: 16px;
}
