* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  height: 100vh;
}

// form-group
.mat-form-field {
  &-wrapper {
    padding: 0 !important;
    margin: 0 !important;
  }

  &-subscript-wrapper {
    top: auto;
    bottom: -15px;
  }
}

.form {
  &-col,
  &-row,
  &-wrapper {
    display: flex;
    gap: 20px;
  }

  &-col,
  &-wrapper {
    flex-direction: column;
  }

  &-row {
    align-items: center;
  }

  &-wrapper {
    padding-top: 4px;
  }
}

.flex-1 {
  flex: 1;
}

.p-4 {
  padding: 16px;
}
